/* Used colors for backGround Color #333 */


/* logo color #47555E */

* {
    scroll-behavior: smooth;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    margin: 5rem;
    background-color: #333;
}

.container {
    position: relative;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(3rem, auto);
    grid-template-areas: "nav" "header" "about" "blogs" "ft";
    grid-row-gap: 5rem;
}