/* ------------nav bar ------------------- */

.nav {
    grid-area: nav;
    position: fixed;
    display: flex;
    z-index: 10;
    width: 95vw;
    align-items: center;
    background-color: #2d2d2d;
    height: 10rem;
    border: 1px solid rgba(0, 0, 0, 0.632);
    box-shadow: 0.5rem 2rem 3rem rgba(0, 0, 0, 0.432);
}

.nav__description {
    margin-left: 10rem;
    font-family: "Girassol", cursive, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #ffffff;
    width: 33, 333333%;
    letter-spacing: 2rem;
    background: transparent;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    font-weight: 100;
    transition: all 0.3s ease-in;
}

.nav__box {
    justify-self: center;
}

.nav__image {
    width: 20rem;
    height: 20rem;
}

.nav__menu {
    width: 50%;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.nav__links {
    text-decoration: none;
    color: #76c59b;
    font-size: 3rem;
    transition: all 0.3s ease-in;
}

.nav__links:hover {
    color: rgba(202, 34, 98, 0.884);
}


/* ----------------Main header---------------------- */

.header {
    grid-area: header;
    position: relative;
    margin-top: 8rem;
    width: 100vw;
    height: 85vh;
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0.7), rgba(151, 139, 139, 0.3)), url(../../images/header-img/header-high.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 95%);
}

.header__text {
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-20%, -50%);
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    text-shadow: 2px 8px 5px rgba(0, 0, 0, 0.7);
}

.header__text h2 {
    font-size: 8rem;
    font-weight: 300;
    transition: all 0.3s;
}

.header__text p {
    text-align: left;
    margin-left: 16rem;
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    transition: all 0.3s;
}

@media screen and (max-width:1750px) {
    .nav__description {
        font-size: 2.6rem;
        letter-spacing: 1.9rem;
    }
}

@media screen and (max-width:1650px) {
    .nav__description {
        font-size: 2.04rem;
        letter-spacing: 1.9rem;
    }
    .header__text h2 {
        font-size: 6rem;
    }
}

@media screen and (max-width:1550px) {
    .nav__links {
        font-size: 2.5rem;
    }
    .nav__description {
        font-size: 2rem;
        margin-left: 5rem;
        letter-spacing: 1.5rem;
    }
    .nav__image {
        width: 18rem;
        height: 18rem;
    }
    .nav {
        /* width: 93%; */
    }
    .header__text h2 {
        font-size: 5rem;
    }
}

@media screen and (max-width:1320px) {
    .nav__description {
        font-size: 1.8rem;
        margin-left: 5rem;
        letter-spacing: 1.2rem;
    }
    .header__text h2 {
        font-size: 4rem;
    }
    .header__text p {
        font-size: 2rem;
    }
}

@media screen and (max-width:1200px) {
    .nav__description {
        font-size: 1.2rem;
        margin-left: 3rem;
        letter-spacing: 1rem;
    }
    .nav__links {
        font-size: 2.2;
    }
    .header__text h2 {
        font-size: 3rem;
    }
    .header__text p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:980px) {
    .nav {
        /* width: 95%; */
    }
    .nav__description {
        font-size: 1.3rem;
        margin-left: 3rem;
        letter-spacing: 0.4rem;
    }
    .nav__image {
        width: 16rem;
        height: 16rem;
    }
    .nav__links {
        font-size: 2rem;
    }
}

@media screen and (max-width:800px) {
    .nav {
        /* width: 75%; */
        justify-content: center;
    }
    .nav__description {
        font-size: 1.1rem;
        margin-left: 1rem;
        letter-spacing: 0.2rem;
    }
    .nav__image {
        width: 14rem;
        height: 14rem;
    }
    .nav__links {
        font-size: 1.8rem;
    }
}

@media screen and (max-width:550px) {
    .nav {
        flex-flow: column nowrap;
        position: relative;
        width: 90%;
        margin-right: 0;
    }
    .nav__description {
        position: absolute;
        left: 0;
    }
    .nav__image {
        margin-left: 20rem;
        margin-top: 10rem;
        height: 10rem;
        width: 10rem;
    }
    .nav__menu {
        margin-top: 6.7rem;
    }
    .nav__links {
        margin-left: 2rem;
    }
    .header {
        width: 95%;
    }
    .header__text {
        top: 40%;
        left: 30%;
    }
    .header__text h2 {
        font-size: 2rem;
    }
    .header__text p {
        text-align: left;
        font-size: 1em;
        margin-left: 10rem;
    }
}